* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

:root {
  --light: rgb(225, 239, 244);
  --brownish-white: rgb(248, 238, 221);
  --light-blue: rgb(70, 121, 138);

  --dark-bg: rgb(18, 23, 26);
  --gray: rgb(26, 32, 36);
  --light-gray: rgb(59, 63, 67);
  --very-light-gray: rgb(40, 50, 56);
  --dark-blue: rgb(59, 154, 186);

  --ff-sans: "Open Sans";
}

.bg-about-dark {
  background-color: var(--dark-bg);
}

.bg-works {
  background-color: var(--gray);
}

.font-Myriad {
  font-family: "A Charming Font Expanded", "Myriad Pro";
}

.bd-profile {
  position: relative;
  padding: 20px;
  /* width: calc(355px + (2 * 20px));
  height: calc(375px + (2 * 20px)); */
}

.bd-profile::after,
.bd-profile::before {
  position: absolute;
  content: "";
  /* width: 355px;
  height: 376px; */
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 4px solid var(--light-blue);
}

.bd-profile::before {
  z-index: 5;
  top: 0px;
  right: 0;
}

.bd-profile::after {
  z-index: 6;
  bottom: 0px;
  left: 0px;
}
